<h1>New Employee for school</h1>


<%= form_tag('/employees/create') do %>

	<p> <%= label_tag 'name' %>
	 	<%= text_field_tag 'fname'%></p>

	<p> <%= label_tag 'age' %>
		<%= text_field_tag 'age' %></p>

	<p><%= submit_tag "Submit" %></p>

<% end %>
